.page-header-item:hover {
    background-color: #f5f5f5;
}

.page-header-item:active {
    background-color: #e5e5e5;
}

.page-header-item {
    transition: all 0.2s ease-out;
}

.page-header-search {
    transition: all 0.2s ease-out;
}

.page-header-search>input {
    transition: all 0.2s ease-out;
}

.page-header-search:focus-within {
    filter: brightness(0.95);
}

.page-header-search:hover {
    filter: brightness(0.95);
}

.page-header-search-icon :hover {
    cursor: pointer;
}